html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing:inherit;
}
.container{
    width: 1170px;
    padding: 0px 15px;
    margin:0 auto;
}
body{
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration:none;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}